.required {
	color :  red;
}
.error_message {
	color : #FF0000;
	display: none;
}
.courses {
	border :  2px solid blue;
}
.course_title {
	font-size: 30px;
	font-weight: bold;
}
/* .course_id {
	display: none;
} */