.required {
	color :  red;
}
.error_message {
	color : #FF0000;
	display: none;
}
.courses {
	border :  2px solid blue;
}
.course_title {
	font-size: 30px;
	font-weight: bold;
}
/* .course_id {
	display: none;
} */
.heading {
	margin-left: 5px;
}
/* #summary {
	display: none;
} */

.registration {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("backg1.jpg");
	background-size: cover;
	z-index: 1;
	background-repeat: no-repeat;
}